body {
  font-family: Roboto, sans-serif;
  background-color: #D6D8DB;
  padding: 2rem;
  margin: 0;
}

h1,h2 {
  color: #2C3E50 ;
  text-align: center;
  margin-bottom: 2rem;
}

p {
  color: #2C3E50;
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto 2rem auto;
  background-color: #ECF0F1;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input {
  margin-bottom: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 0.8rem;
  background-color: #E74C3C;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #27AE60;
}

ul {
  color: #2C3E50;
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

li {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

li strong {
  color: #007bff;
}
